
  <div>
    <img [src]="photo.photoUrl" height="400px" />
  </div>

  <table>
    <tr>
      <td>File</td>
      <td>
        <input
          id="file"
          type="file"
          class="form-control"
          (change)="onFileChange($event)">
      </td>
    </tr>
    <tr *ngIf="realUrl">
      <td first>URL</td>
      <td second><input [(ngModel)]="photo.photoUrl"></td>
    </tr>
    <tr *ngIf="!realUrl">
      <td first>URL</td>
      <td second>
        <input [(ngModel)]="photoUrl"
               (ngModelChange)="setPhotoUrl($event)"
        ></td>
    </tr>
    <tr>
      <td>Tour</td>
      <td><input [(ngModel)]="photo.tourName"></td>
    </tr>
    <tr>
      <td>hidden</td>
      <td><input type="checkbox" [(ngModel)]="photo.hidden"></td>
    </tr>
    <tr>
      <td>sortOrder</td>
      <td><input [(ngModel)]="photo.sortOrder"></td>
    </tr>
    <tr>
      <td>lng</td>
      <td><input [(ngModel)]="photo.lng" (ngModelChange)="setNewCenter({lat: photo.lat, lng: photo.lng, acc: 0})"></td>
    </tr>
    <tr>
      <td>lat</td>
      <td><input [(ngModel)]="photo.lat" (ngModelChange)="setNewCenter({lat: photo.lat, lng: photo.lng, acc: 0})"></td>
    </tr>
    <tr>
      <td>Hint</td>
      <td><input [(ngModel)]="photo.hint"></td>
    </tr>
    <tr>
      <td></td>
      <td>
        <br>
        <button class="button" (click)="doSavePhoto()">save</button>
        <button class="button" (click)="doCancel()">cancel</button>
        <button (click)="doDelete(photo.id)" class="button">del</button>
      </td>
    </tr>
  </table>

  <app-map
    [center]="center"
    (newCenter)="setNewCenter($event)"
  ></app-map>
