<img src="./assets/images/highScore.png" width="300px">
<table>
  <th>Tour</th>
  <th>Rang</th>
  <th>Team</th>
  <th>Distanz</th>
  <th>Einzeldistanz Nachweis</th>
  <th *ngIf="isAdmin"></th>
  <tr *ngFor="let konkurent of highScores; let i = index">
    <td>{{konkurent.tourName}}</td>
    <td>{{i+1}}</td>
    <td>{{konkurent.teamName}}</td>
    <td style="text-align: right;">{{konkurent.score}}m</td>
    <td>{{konkurent.history}}</td>
    <td *ngIf="isAdmin"><button class="button" (click)="delete(konkurent.id)">del</button></td>
  </tr>
</table>
