table, th, td {
  border: 1px solid white;
  border-collapse: collapse;
}
th {
  background-color: #008fb3;
  color: white;
}
td {
  padding-left: 5px;
  padding-right: 5px;
}
tr:nth-child(even) {
  background-color: #96D4D4;
}
tr:nth-child(odd) {
  background-color: #96E4D4;
}
