<!-- Spielregeln anzeigen -->
<div *ngIf="show(FotoOlState.showHelp)">
  <app-help (teamNameEmitter)="setTeamName($event)"
            (myTourScoreList)="setMyTourScoreList($event)"
            (showHighScore)="doShowHighScore($event)"
            [hintPenalty]="hintPenalty"
            [teamName]="score.teamName"
  ></app-help>
  <p>
    Wähle die Tour aus:
  </p>
  <span *ngFor="let tour of tourList">
    <button
      class="button"
      (click)="start(tour.tourName)"
      [disabled]="hasTour(tour.tourName)"
      title="{{score.teamName?'':'zuerst Teamnamen eingeben'}}"
    >
      {{tour.tourName}}
    </button>&nbsp;
  </span>
  <br>
  <br>
</div>

<!-- Ein Foto nach dem anderen anzeigen -->
<div *ngIf="show(FotoOlState.showFotos)">
  <p>
    Wandere zur Position wo dieses Foto ({{score.index+1}}/{{photos?.length}}) aufgenommen wurde.
  </p>
  <img src="{{getPhotoUrl()}}" height="300px" alt=""/>


  <div *ngIf="showHint">
    <app-hint [hintText]="getHint()"></app-hint>
  </div>

  <p>
    Strafpunkte {{score.score}}m,
    Distanz zu letzem Foto {{lastDistance}}m
  </p>

  <button *ngIf="!showHint" (click)="getHint()"class="button">Keine Ahnung wo das Foto aufgenommen wurde. Hilf mir auf die Sprünge</button>
  <br><br>
  <button (click)="setCurrentCoordinates()" class="button">Ich bin da ...</button>
</div>

<!-- ToDo: @Martin OSM einblenden um die Position zu kontrollieren -->
<div *ngIf="showMap">
  <button (click)="nextPhoto()" class="button">Ja diese Position ist OK</button>
  <app-map [center]="center"></app-map>
</div>

<!-- High Score anzeigen -->
<div *ngIf="amZiel">
  <h2>Du bist im Ziel</h2>
  <p>
    Distanz zu letzem Foto war {{lastDistance}}m.
    Gratuliere {{score.teamName}} du hast die Fotos nur um gesamt <b>{{score.score}}m</b> verfehlt.
  </p>
  <p>
    Komm zurück in die Viva Kirche, du hast dir ein Getränk verdient.
  </p>
</div>
<div *ngIf="show(FotoOlState.showHighScore)">
  <app-ziel [isAdmin]="false"
            [tourName]="score.tourName"
  ></app-ziel>
  <br>
  <button class="button" (click)="doShowHelp()">Starte Foto-OL nochmals</button>
</div>

<!--Alle High Score anzeigeb-->
<div *ngIf="show(FotoOlState.showAllHighScore)">
  <app-all-high-score
    [tourList]="tourList"
    [isAdmin]="false"
  ></app-all-high-score>
  <br>
  <button class="button" (click)="doShowHelp()">Starte Foto-OL nochmals</button>
</div>

<!--  Admin Seite anzeigen -->
<app-admin
  *ngIf="show(FotoOlState.showAdmin)"
  (start)="doShowHelp()">
</app-admin>
